.post-wrapper {
    margin-bottom: 50px;
}

.hidden-input {
    background: transparent;
    border: none !important;
    font-size:0;
    visibility: hidden; !important;
}

.post {
    border : 1px solid black;
}

.comments {
    border: 1px solid blue;
}

