<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:h="http://xmlns.jcp.org/jsf/html">
<h:head>
    <title>Failed </title>
</h:head>
<h:body>
    <h2>#{userLoginBean.message}</h2>
</h:body>
</html>