<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:h="http://xmlns.jcp.org/jsf/html" xml:lang="en" lang="en"
    xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>Home</title>
</h:head>
<h:body>
    <div>
        <h1>Schedule table</h1>
        <p:dataTable>
            <p:column headerText="Monday"/>
            <p:column headerText="Tuesday"/>
            <p:column headerText="Wednesday"/>
            <p:column headerText="Thursday"/>
            <p:column headerText="Friday"/>
        </p:dataTable>
    </div>

    <div>
        Leave Record
        <p:dataTable>
            <p:column headerText="Name"/>
            <p:column headerText="Reason"/>
            <p:column headerText="Leave Date"/>
        </p:dataTable>
    </div>
</h:body>
</html>