<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:head>
    <title>Apply Leave</title>
</h:head>
<h:body>
    <h1>Apply Leave here</h1>
    <h:form>
        <p:growl id="growl" sticky="true" life="2000"/>
        <h:panelGrid columns="2" cellpadding="3">
            <p:outputLabel for="name" value="Name"/>
            <p:inputText
                    id="name"
                    label="name"
                    required="true"
                    value="#{userLeaveBean.name}"/>

            <p:outputLabel for="reason" value="Reason"/>
            <p:inputText
                    id="reason"
                    label="reason"
                    required="true"
                    value="#{userLeaveBean.reason}"/>

            <p:outputLabel for="date" value="Leave Date"/>
            <p:inputMask mask="99/99/9999"
                    id="date"
                    label="date"
                    required="true"
                    value="#{userLeaveBean.date}"/>

            <f:facet name="footer">
                <p:commandButton value="apply"
                                 update="growl"
                                 actionListener="#{userLeaveBean.apply}"/>
            </f:facet>
        </h:panelGrid>
    </h:form>
</h:body>
</html>